<%- contentFor('body') %>
<div class="container">
    <h1 class="text-center">Cadastro de Administrador</h1>
    <form action="/admin" method="POST">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Seu Nome">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Telefone">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Digite seu valor/hora" >
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>

            