<%- contentFor('body') %>

     <div class="container ">
         <br><br>
         <h1 class="text-center">Faça o seu login</h1>
         <form action="/login/auth" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Por favor, faça o seu login</h1>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Digite seu Username*" required autofocus>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Digite o Password*" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
          </form>
     </div>